<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
</head>
<body>
    <form method="post" action="http://localhost:8080/posts/new">
        <input type="text" name="name" placeholder="Your Name"> <br>
        <input type="text" name="username" placeholder="username"> <br>
        <textarea name="content" placeholder="write your post here"></textarea> <br>
        <button>Post</button>
    </form>
</body>
</html>